mat-expansion-panel {
background:  #FF8C00;
font-weight: bold;
color: antiquewhite;
}


mat-expansion-panel-header {
background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
font-weight: bold;
color: antiquewhite;
}