mat-expansion-panel {
    background:  #FF8C00;
    font-weight: bold;
    color: antiquewhite;
    font-size:20px;
}


mat-expansion-panel-header {
    background:white;
    font-weight: bold;
    color: black;
}
