<button mat-button [matMenuTriggerFor] = "menu">Menu</button>
<hr>
<mat-menu #menu = "matMenu">
  <button routerLink="tags" mat-menu-item>Create</button>
  <button routerLink="search" mat-menu-item> Search </button>
  <!-- <button mat-menu-item>Search</button> -->
  <!-- <button mat-menu-item [matMenuTriggerFor] = "recent">Recent</button> -->
</mat-menu>
<mat-menu #recent = "matMenu">
  <!-- <button mat-menu-item>File 1</button> -->
  <!-- <button mat-menu-item>File 2</button> -->
</mat-menu>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span></span> <br>
    <button mat-raised-button color="primary">Create Tag</button>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select" multiple>
          <mat-option value="option">JAVA</mat-option>
          <mat-option value="option">SalesForce</mat-option>
          <mat-option value="option">Testing</mat-option>
          <mat-option value="option">.NET</mat-option>
          <mat-option value="option">Spring</mat-option>
          <mat-option value="option">Spring MVC</mat-option>
          <mat-option value="option">Spring Boot</mat-option>
          <mat-option value="option">Spring Security</mat-option>
          <mat-option value="option">SQL</mat-option>
          <mat-option value="option">Angular</mat-option>
          <mat-option value="option">JavaScript</mat-option>
          <mat-option value="option">TypeScript</mat-option>
          <mat-option value="option">Unix</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-toolbar-row>
</mat-toolbar> -->
