<div class="searchbar">
  <mat-form-field>
    <input matInput #name name="name"/> 
    <mat-placeholder style="color:#474C55"> Search </mat-placeholder>
  </mat-form-field>
  <div class="searchbar">
  </div>
  <button mat-raised-button (click)="addTag(name.value)">Search</button>
</div>
<div>
  <table mat-table>
    <tr *ngFor="let tag of tags">
      <td>{{tag.tagName}}</td>
      <td><button mat-raised-button (click)="removeTag(tag)">Remove</button></td>
    </tr>
  </table>
</div>
<!-- tag to pass from searchbar to result component -->
<app-result [contents] = "contents"></app-result>

