<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span></span> <br>
  <!--  <button mat-raised-button color="primary">Search Tag</button> -->
    <button mat-raised-button color="primary">Create Tag</button>
  </mat-toolbar-row>

  <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  


<router-outlet></router-outlet>
