
<div style="text-align: center">
  <label>ID:binding</label>
</div>
<div style="text-align: center">
  <label>Name:
    <input placeholder = "Enter Module Name"/>
  </label>
</div>
<div style="text-align: center">
  <label>URL:
    <input placeholder = "Enter GIT URL" />
  </label>
</div>

<div style="text-align: center">

  <label>Description:</label>

  
    <textarea
        ng-model="string"
        [name="string"]
        [required="string"]
        [ng-required="string"]
        [ng-minlength="number"]
        [ng-maxlength="number"]
        [ng-pattern="string"]
        [ng-change="string"]
        [ng-trim="boolean"]>
      ...
</textarea>

  
</div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
  </li>
  <li>
  </li>
  <li>
  </li>
</ul>

<router-outlet></router-outlet>
