<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Nav Bar Place Holder
  </h1>
</div>

<div style="text-align: center">
  <label>Name:
    <input placeholder = "Enter Module Name" type="text" [(ngModel)]="create.name"/>
  </label>
</div>
<div style="text-align: center">
  <label>URL:
    <input placeholder = "Enter GIT URL" type="text" [(ngModel)]="create.url" />
  </label>
</div>


<div style="text-align: center">

  <label>Description:</label>

  
    <textarea
        ng-model="string"
        [name="string"]
        [required="string"]
        [ng-required="string"]
        [ng-minlength="number"]
        [ng-maxlength="number"]
        [ng-pattern="string"]
        [ng-change="string"]
        [ng-trim="boolean"]>
      ...
</textarea>

  
</div>

<br>
<button (click)="submitCreate()">Submit</button>
<br>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
  </li>
  <li>
  </li>
  <li>
  </li>
</ul>

<router-outlet></router-outlet>