
<form class ="input-fields">
  <mat-form-field class="full-width-field">
    <input matInput placeholder="Enter Name of Content"/>
  </mat-form-field>
<br/>
  <mat-form-field class="full-width-field">
    <input matInput placeholder="Enter Git URL"/>
  </mat-form-field>
  <br/>
  <mat-form-field class="full-width-field">
    <mat-label>Select Category</mat-label>
      <mat-select>
        <mat-option value="Code Example">Code Example</mat-option>
        <mat-option value="Lecture Notes">Lecture Notes</mat-option>
        <mat-option value="Exercises">Exercises</mat-option>
      </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field class="full-width-field">
    <textarea matInput placeholder="Provide a short description"></textarea>
  </mat-form-field>
</form>

<br/>
<br>
<button mat-raised-button style="color: #7D827E " (click)="submitCreate()">Submit</button>
<br>

<router-outlet></router-outlet>