.mat-form-field {
    width: 60%;
    align-content: center;
    color: black;
    background-color:white;
}

.mat-option{
    color: white;
    background-color: #FF4500;
}

.mat-select{
    width:100%;
    color:black;
    background-color: white;
}

.mat-select-placeholder {
    color:red !important;
  }

.mat-raised-button{
    text-align: center;
   /* background-color: #FF4500; */
    background-color:white;
    font-size: 16px;
    color: #FF4500;
}

.button{
    text-align: left;
}